<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password</title>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href={% static 'css/styles.css' %} >
    </head>
    <body>

      <div class="container">
        <form action="/change" method="post">
          {% csrf_token %}
      <h1>Reset Password</h1>
            
            <fieldset>
              <label for="password">Password:</label>
              <input type="password" id="password" name="user_password" style="margin-bottom: 30px;" required>
              
              <label for="password">Confirm Password:</label>
              <input type="password" id="cpassword" name="confirm_user_password" required>
            </fieldset>
            
            <button type="submit">Change Password</button>
          </form>
      </div>
      
    </body>
</html>
</html>